<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="warn" name="LibraryLogger">

	<Appenders>

		<Console name="STDOUT" target="SYSTEM_OUT">
			<PatternLayout>
				<Pattern>%d %-5p %c:%L - %m%n</Pattern>
			</PatternLayout>
		</Console>

		<File name="LogTests" fileName="test-output/xyz.swatt.tests.log.log" append="false">
			<PatternLayout>
				<Pattern>%-5p - %m%n</Pattern>
			</PatternLayout>
		</File>

	</Appenders>

	<Loggers>

		<Logger name="xyz.swatt" level="trace"/>

		<Logger name="xyz.swatt.tests" level="trace"/>

		<Root level="warn">
			<AppenderRef ref="STDOUT" />
		</Root>

		<Logger name="xyz.swatt.tests.log.SampleClass" level="trace">
			<AppenderRef ref="LogTests"/>
		</Logger>

	</Loggers>

</Configuration>