<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="warn" strict="true" >
	
	<Appenders>
	
		<Appender type="Console" name="STDOUT">
			<Layout type="PatternLayout" pattern="%d %-5p %c:%L - %m%n"/>
		</Appender>
		
	</Appenders>
	
	<Loggers>

        <Logger name="xyz.swatt" level="info"/>
        <Logger name="xyz.swatt.asserts" level="warn"/>
        <Logger name="xyz.swatt.string" level="warn"/>
        <Logger name="xyz.swatt.xml" level="warn"/>

        <Logger name="xyz.swatt.tests" level="debug"/>

		<Root level="error" >
			<AppenderRef ref="STDOUT" />
		</Root>
	
	</Loggers>

</Configuration>